\section{References}
\begin{itemize}
<% for r in private.references %>
    \item << r.name|tex >>, << r.institution|tex >> \hfill \href{mailto:<< r.email >>}{<< r.email|tex >>}
<% endfor %>
\end{itemize}
